<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tasks</title>
    <style>
        body{
            background: linear-gradient(rgba(240, 226, 226, 0.5), rgba(230, 223, 223, 0.5)), url("https://img.freepik.com/free-vector/flat-geometric-background_23-2148957201.jpg?size=626&ext=jpg")  ;
            image-resolution:
        }
    </style>
</head>
<body>
    {% block body %}
    {% endblock %}
    
</body>
</html>